[Unit]
Description= Node.js Private Bot

[Service]
Type=simple
WorkingDirectory=/home/yuki/project/bot/
ExecStart=/usr/local/bin/node /home/yuki/project/bot/dist/main.js
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
RestartSec=2
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=testapp


[Install]
WantedBy=multi-user.target